/* Con el @import funciona */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');



body {
    
    font-family: 'Oswald', sans-serif;
    /* background-image: url(https://scontent.fepa10-2.fna.fbcdn.net/v/t39.30808-6/298333512_450912223714153_3594127946127171084_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeH8qKmlP39xG53Q5jdSaw21PGTHbbhcTPI8ZMdtuFxM8hEyg9R2wnlfih26KpkiDLBWJNKXWl8gywsvw200Z9aJ&_nc_ohc=j745Js3neNYAX-D5etg&_nc_ht=scontent.fepa10-2.fna&oh=00_AT-w9kPJlfADBcnfvPIxctFOH8YanbKELTMm3RkxeA3B4w&oe=6327C469);  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #ecbe00;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #333398;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #ecbe00;  /* creates padding around scroll thumb */
  }



.navbar{
    background-image: linear-gradient(
      112.1deg,
      rgb(0, 0, 0) 11.4%,
      rgb(0, 2, 95) 75.2%
    );
    color: rgb(255, 255, 255);
}

a.nav-link{
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    letter-spacing: 5px;
    font-size: 1em;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
    margin-left: 30px;
}
a.nav-link::after{
    content: "";
    position: absolute;
    background:linear-gradient(to bottom, rgb(251, 255, 0), rgb(17, 0, 255));
    height: 3px;
    width: 0;
    left:0;
    bottom: -10px;
    transition: 1s;
}

a.nav-link:hover:after{
    width:100%;
}
a.nav-link:hover{
    text-shadow: 2px 2px rgba(255, 222, 73, 0.459), 4px 4px rgba(0, 2, 99, 0.651);
    transform: scale(1.1, 1.1);
    z-index: 7;
}


.collapse{
    text-decoration: none;
    color: black;
}
.container{
    height: calc(100vh - 300px);
} 
.footer{
    background-image: linear-gradient(
        117.1deg,
        rgb(0, 2, 95) 11.4%,
        rgb(0, 0, 0) 75.2%
      );
      text-align: center;
      margin-bottom: 0;
    height: 500px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    letter-spacing: 5px;
    font-size: 1em;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.row{
    display: flex;
    align-items: center;
}

.row-cards {
  display: flex;
  align-items: center;
  margin-top: 65px;
}

.card {
  margin-left: 70px ;
}

.map-frame{

  margin-left: 80px;
  margin-top: 25px;
  border-radius: 10px;
}

.red-social{
    padding: 25px;
    width:75px;
    height: 75px;
    color:rgba(255, 255, 255, 0.74);
    transition: 0.6s;
}
.facebook:hover{
    color:#3B5998;
}
.instagram:hover{
    color:#ac458e;
}
.youtube:hover{
    color:#ce201f;
}
.twitter:hover{
    color:#1da1f3;
}
.info-title{
    font-size: 10px;
    font-weight: 900;
}
.info{
    font-size:10px;
    font-weight: 700;
}
  .sponsors {
    width: 100.6%;
    background-color: rgba(255, 255, 255, 0.124);
  }
  
  .copyright{
    font-size: 10px
  }
 
  .aside{
        border:         none;
        border-left:    1px solid hsla(200, 10%, 50%,100);
        height:         400px;
        width:          1px;        
  }
  
  .logo-footer{
    margin: auto;
    height: 200px;
    width: 200px;
  }
  .redes-sociales{
    margin-left: -30px;
    justify-content: center;
  }

.row-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
}




  /* C A R D S  */




.card {
    border: #ecbe00 1px solid;
    position: relative;
	border-radius: 8px;
	overflow: hidden;
}
.card-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0)), url("https://www.caatlanta.com.ar/wp-content/uploads/2021/09/atl-banner-tienda-web.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    font-style: initial;
    font-family:'Ubuntu', sans-serif;
    color: white;
    background-color:rgba(11, 21, 116, 0.932);
    
}

.card:hover{
    transition: all 0.4s linear;
    transform: scale(1.1, 1.1);
    z-index: 7;
    
}

.card h5{
letter-spacing: 5px;
font-size: 1em;
}

.card p{
    letter-spacing: 2px;
}








/* F O R M U L A R I O */


.container{
  background-color: #00000046;
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin-bottom: 50px;
}



select {
  border: ridge;
  border-color: rgb(0, 30, 255);
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}



.content .title{
  background-color: rgba(0, 0, 0, 0.348);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Ubuntu';
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  
  color: rgb(255, 255, 255);
  font-family: 'Ubuntu';
  letter-spacing: 2px;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  border: ridge;
  border-color: rgb(0, 30, 255);
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
 
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
  border: 1px solid yellow;
   height: 100%;
   width: 100%;
   border-radius: 5px;
   
   color: rgb(255, 255, 255);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(-135deg, #2300cf, #000d9c9e);
   color: rgb(255, 213, 0);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.056)),url(https://img.pikbest.com/backgrounds/20190912/creative-yellow-and-blue-contrast-color-autumn-new-background-image_2761693.jpg!c1024wm0);
  background-repeat: no-repeat;
  background-position:100%;
  letter-spacing: 6px;
  background-size: cover;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.181), 4px 4px rgba(0, 0, 0, 0.296);
  transform: scale(1.0, 1.0);
  z-index: 7;
  color: rgb(255, 255, 255);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.container
{
  height: 1323px;
	position: relative;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.container::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 680px;
	height: 1420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#0022ff,#ffee00);
	animation: animate 6s linear infinite;
}
.container::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 680px;
	height: 1420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#ffee00,#0022ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form 
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
	position: absolute;
	inset: 2px;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}


@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');


.wrapper{
  display: inline-flex;
  background: rgba(255, 255, 255, 0);
  height: 82px;
  width: 285px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
}

.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0000d9b4;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3{
  border-color: #d9b100;
  background: #0e00d999;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot{
  background: rgb(212, 166, 0);
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span{
  color: rgb(255, 183, 0);
}

.condiciones p{
  letter-spacing: 5px;
font-size: 13px;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
}

.logo-container {
  position: relative;
  display: flex;
  gap: 40px;
  margin-top: 10px;
  margin-right: 20px;
}

.logo-container .logo {
  position: relative;
  list-style: none;
  width: 120px;
  height: 120px;
  display:flex;
  justify-content: center;
  align-items: center;
 
  /* box-shadow: 0 15px 35px rgba(0, 0, 0, 1) ; */
}

.logo-container .logo .fa
{
  font-size: 2em;
  -webkit-text-stroke: 2px var(--clr);
  color: transparent;
  opacity: 0.7;
}
.logo-container .logo::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid var(--clr);
  transition: 0.5s ease-in-out;
  font-family: fontAwesome;
  text-align: center;
  line-height:120px;
  font-size: 2em;
  color: var(--clr);

}
.logo-container .logo:hover::before{
  height: 100%;
}

.logo-container .logo:nth-child(1):before {
  content:  '\f099';
}

.logo-container .logo:nth-child(2):before {
  content:  '\f16d';
}

.logo-container .logo:nth-child(3):before {
  content:  '\f230';
}

.logo-container .logo:nth-child(4):before {
  content:  '\f16a';
}









